/* general */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* clearfix */
.group:before, .container:before,
.group:after, .container:after {
	content: " ";
	display: table;
}

.group:after, .container:after {
	clear: both;
}

body {
	color: #333;
	font-size: 100%;
}

img {
	width: 100%;
	max-width: 100%;
	vertical-align: middle;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1120px;
	margin: 0 auto;
}

.menu {
	text-align: center;
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.menu li {
	display: inline-block;
}

.controls a {
	/*font-size: 13px;*/
}

/*  MY CSS:  */
.pull-right {
	float: right;
}
main {
	margin-top: 50px;
	margin-bottom: 50px;
}
body.company_register h1,
body.index h1{
	text-align: center;
}
.box{
	margin-top: 60px;
	margin-bottom: 40px;
	margin-left: 50%;
	margin-right: 50%;
	transform: translateX(-50%);
	padding: 0;
}
.box .row {
	margin-left: 0;
	margin-right: 0;
}
.box .tab-menu a:hover h3{
	display: inline-block;
	text-decoration: none;
}
.box .tab-menu a{
	padding-top: 10px;
	color: #fff;
}
.box form {
	padding: 40px;
}
.box form#log-form{
	border: 3px solid #008bba;
}
.box form#reg-form{
	border: 3px solid #f14125;
}

/*  Profile photo  */
.profile-photo-change a {
	position: relative;
}
.profile-photo-change a div.overlay {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background: rgba(51,51,51,0.8);
}
.profile-photo-change a div.overlay span.change-me {
	position: relative;
}